<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>Home Deposit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
			<h1 class="display-4">Home Deposit</h1>
			<hr>
			<a class="btn btn-info" href="http://localhost:8080/money/addForm" target="_blank">Добавить MoneyFlow</a>
			<hr>
			<a class="btn btn-info" href="http://localhost:8080/money/showAll" target="_blank">Все MoneyFlow</a>
		</div>
    </body>
</html>